$star-wars-yellow: #FFE81F;

.movie-cards {
  width: 190px;
  height: 500px;
}

.movie-card-1 {
 background-image: url('../../images/phantom-menace.jpg');
 background-repeat: no-repeat;
 background-size: auto;
 background-position: center;
 border: red solid 5px;
}

.movie-card-2 {
  background-image: url('../../images/clones.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border: green solid 5px;
}

.movie-card-3 {
  background-image: url('../../images/revenge-of-the-sith.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
  border: orange solid 5px;
}

.movie-card-4 {
  background-image: url('../../images/new-hope.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  border: white solid 5px;
}

.movie-card-5 {
  background-image: url('../../images/empire-strikes-back.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  border: blue solid 5px;
}

.movie-card-6 {
  background-color: red;
}

.movie-card-7 {
  background-color: yellow;
}