$star-wars-yellow: #FFE81F;

.movie-card-1 {
  background-color: blue;
}

.movie-card-2 {
  background-color: purple;
}

.movie-card-3 {
  background-color: orange;
}

.movie-card-4 {
  background-color: pink;
}

.movie-card-5 {
  background-color: green;
}

.movie-card-6 {
  background-color: red;
}

.movie-card-7 {
  background-color: yellow;
}