$star-wars-yellow: #FFE81F;

.character-card {
  border: 1px solid $star-wars-yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 7px;
  padding: 5px 0 36px 0;
  width: 200px;
    li {
      list-style: none;
      padding: 2px 0;
    }
    p {
      color: white;
      font-size: 15px;  
      margin: 2px 0;
    }
    button {
      background: none;
      border: white 1px solid;
      color: white;
      margin-top: 12px;
    }
  z-index: 1;
}

.character-card-name {
  color: $star-wars-yellow;
  font-size: 25px
}